{% extends "cabinet/base_auth.html" %}
{% load i18n %}

{% block title %}{% trans "Password Changed" %}{% endblock %}

{% block cabinet_content %}
<div class="cab-auth__wrap">
  <div class="cab-auth__card">

    <div class="cab-auth__logo">
      <span class="cab-auth__logo-icon">&#9670;</span>
      <span class="cab-auth__logo-name">{{ SITE_NAME|default:"Cabinet" }}</span>
    </div>

    <p class="cab-auth__title">{% trans "Password Changed" %}</p>

    <div class="cab-auth__alert">
      {% trans "Your password has been successfully changed." %}
    </div>

    <div class="cab-auth__footer">
      <a class="cab-auth__link" href="{% url 'account_login' %}">
        {% trans "Sign In" %}
      </a>
    </div>

  </div>
</div>
{% endblock %}
