{% extends "cabinet/base_cabinet.html" %}

{% block title %}Analytics{% endblock %}

{% block cabinet_content %}
<div class="row g-3 mb-4">
  {% for data in kpis %}
  <div class="col-lg-3 col-sm-6">
    {% include "cabinet/widgets/kpi.html" with data=data %}
  </div>
  {% endfor %}
</div>

<div class="row g-3 mb-4">
  <div class="col-lg-8">
    {% include "cabinet/widgets/chart.html" with data=revenue_chart %}
  </div>
  <div class="col-lg-4">
    {% include "cabinet/widgets/list.html" with data=masters %}
  </div>
</div>

<div class="row g-3">
  <div class="col-lg-4">
    {% include "cabinet/widgets/donut.html" with data=services_donut %}
  </div>
  <div class="col-lg-8">
    {% include "cabinet/widgets/list.html" with data=top_services %}
  </div>
</div>
{% endblock %}
