import os
from pathlib import Path

# Root of Django project: src/backend_django
BASE_DIR = Path(__file__).resolve().parent.parent.parent.parent

# ═══════════════════════════════════════════
# Internationalization
# ═══════════════════════════════════════════

LANGUAGE_CODE = os.environ.get("LANGUAGE_CODE", "de")
TIME_ZONE = os.environ.get("TIME_ZONE", "Europe/Berlin")
USE_I18N = {{ multilingual }}
USE_TZ = True

{%- if multilingual %}
LANGUAGES = [
    ("de", "Deutsch"),
    ("en", "English"),
]

try:
    import modeltranslation  # noqa
    MODELTRANSLATION_DEFAULT_LANGUAGE = LANGUAGE_CODE.split("-")[0]
    MODELTRANSLATION_LANGUAGES = ("de", "en")
except ImportError:
    pass

LOCALE_PATHS = [
    BASE_DIR / "locale",
]
{%- endif %}
