from django.conf import settings
from django.conf.urls.i18n import i18n_patterns
from django.conf.urls.static import static
from django.contrib import admin
from django.urls import include, path
from django.views.generic import TemplateView

# Error Handlers
handler404 = "features.system.views.errors.handler404"
handler500 = "features.system.views.errors.handler500"
handler403 = "features.system.views.errors.handler403"
handler400 = "features.system.views.errors.handler400"

urlpatterns = [
    # System files in root
    path(
        "robots.txt",
        TemplateView.as_view(template_name="robots.txt", content_type="text/plain"),
    ),
    path(
        "sw.js",
        TemplateView.as_view(template_name="sw.js", content_type="application/javascript"),
    ),
    path(
        "manifest.json",
        TemplateView.as_view(template_name="manifest.json", content_type="application/json"),
    ),
    # LLM Context files
    path("llms_de.txt", TemplateView.as_view(template_name="llms_de.txt", content_type="text/plain")),
    path("llms_en.txt", TemplateView.as_view(template_name="llms_en.txt", content_type="text/plain")),
]

# Multilingual patterns
urlpatterns += i18n_patterns(
    path("admin/", admin.site.urls),
    path("cabinet/", include("features.cabinet.urls")),
    path("", include("features.main.urls")),
    # Sitemap
    path("sitemap.xml", include("features.main.urls_sitemap")),
    prefix_default_language=True,
)

# Static & Media in development
if settings.DEBUG:
    urlpatterns += static(settings.STATIC_URL, document_root=settings.STATIC_ROOT)
    urlpatterns += static(settings.MEDIA_URL, document_root=settings.MEDIA_ROOT)
